In [2]:
import pandas as pd
import numpy as np

In [3]:
url_sellers = 'https://raw.githubusercontent.com/OtavioSotnas/Trabalhinho-Ada-PT2/main/base%20de%20dados/olist_sellers_dataset.csv'
url_items = 'https://raw.githubusercontent.com/OtavioSotnas/Trabalhinho-Ada-PT2/main/base%20de%20dados/olist_order_items_dataset.csv'

In [4]:
df_items = pd.read_csv(url_items)
df_sellers = pd.read_csv(url_sellers)

In [5]:
df_vendedores = df_sellers.rename(columns={
    'seller_id': 'id_vendedor',
    'seller_zip_code_prefix' : 'cep_vendedor',
    'seller_city' : 'cidade_vendedor',
    'seller_state' : 'estado_vendedor'})

df_items = df_items.rename(columns={
    'order_id' : 'id_pedido',
    'order_item_id' : 'id_item_pedido',
    'product_id' : 'id_produto',
    'seller_id'  : 'id_vendedor',
    'shipping_limit_date' : 'data_limite_envio',
    'price' : 'valor',
    'freight_value' : 'valor_frete'
})

In [6]:
df_items['valor_total'] = df_items['valor'] + df_items['valor_frete']

In [7]:
df_items.head()

,id_pedido,id_item_pedido,id_produto,id_vendedor,data_limite_envio,valor,valor_frete,valor_total
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29,72.19
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93,259.83
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87,216.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79,25.78
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14,218.04

In [8]:
df_items.isnull().sum() # Esses dados não contem valores nulos

id_pedido            0
id_item_pedido       0
id_produto           0
id_vendedor          0
data_limite_envio    0
valor                0
valor_frete          0
valor_total          0
dtype: int64

In [9]:
df_vendedores.isnull().sum() # Esses dados não contem valores nulos

id_vendedor        0
cep_vendedor       0
cidade_vendedor    0
estado_vendedor    0
dtype: int64

In [10]:
df_items['valor_frete'].describe()

count    112650.000000
mean         19.990320
std          15.806405
min           0.000000
25%          13.080000
50%          16.260000
75%          21.150000
max         409.680000
Name: valor_frete, dtype: float64

In [11]:
df_vendedores.head()

,id_vendedor,cep_vendedor,cidade_vendedor,estado_vendedor
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP

In [12]:
df_vendedores['cidade_vendedor'].str.title()

0                Campinas
1              Mogi Guacu
2          Rio De Janeiro
3               Sao Paulo
4       Braganca Paulista
              ...
3090              Sarandi
3091              Palhoca
3092            Sao Paulo
3093              Pelotas
3094              Taubate
Name: cidade_vendedor, Length: 3095, dtype: object

In [13]:
df_vendedores

,id_vendedor,cep_vendedor,cidade_vendedor,estado_vendedor
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP
...,...,...,...,...
3090,98dddbc4601dd4443ca174359b237166,87111,sarandi,PR
3091,f8201cab383e484733266d1906e2fdfa,88137,palhoca,SC
3092,74871d19219c7d518d0090283e03c137,4650,sao paulo,SP
3093,e603cf3fec55f8697c9059638d6c8eb5,96080,pelotas,RS
3094,9e25199f6ef7e7c347120ff175652c3b,12051,taubate,SP