In [1]:
# Importação de bibliotecas
import pandas as pd
import numpy as np

In [4]:
# Carga das bases de dados
order_payments = pd.read_csv('../base de dados/olist_order_payments_dataset.csv')
products = pd.read_csv('../base de dados/olist_products_dataset.csv')

#### 1. Análise exploratória inicial

1.1 Base de dados de pagamentos

In [9]:
order_payments.head()

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

In [10]:
order_payments.tail()

,order_id,payment_sequential,payment_type,payment_installments,payment_value
103881,0406037ad97740d563a178ecc7a2075c,1,boleto,1,363.31
103882,7b905861d7c825891d6347454ea7863f,1,credit_card,2,96.80
103883,32609bbb3dd69b3c066a6860554a77bf,1,credit_card,1,47.77
103884,b8b61059626efa996a60be9bb9320e10,1,credit_card,5,369.54
103885,28bbae6599b09d39ca406b747b6632b1,1,boleto,1,191.58

In [5]:
order_payments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 5 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   order_id              103886 non-null  object
 1   payment_sequential    103886 non-null  int64
 2   payment_type          103886 non-null  object
 3   payment_installments  103886 non-null  int64
 4   payment_value         103886 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.0+ MB

A base de dados é constituída por 5 características e 103.886 registros e não há dados faltantes em qualquer característica.

In [11]:
order_payments.describe()

       payment_sequential  payment_installments  payment_value
count       103886.000000         103886.000000  103886.000000
mean             1.092679              2.853349     154.100380
std              0.706584              2.687051     217.494064
min              1.000000              0.000000       0.000000
25%              1.000000              1.000000      56.790000
50%              1.000000              1.000000     100.000000
75%              1.000000              4.000000     171.837500
max             29.000000             24.000000   13664.080000

Uma compra pode ter vários pagamentos, os quais são identificados por um número sequencial (payment_sequantial) iniciado em 1.

Uma compra também pode ser parcelada, a coluna "payment_installments" indica a quantidade de parcelas.

Os tipos de pagamentos são os seguintes:

In [52]:
order_payments['payment_type'].value_counts()

credit_card    76795
boleto         19784
voucher         5775
debit_card      1529
not_defined        3
Name: payment_type, dtype: int64

Os pagamentos são feitos majoritariamente por cartão de crédito, o que representa quase 74% do total.

In [53]:
order_payments['payment_type'].value_counts(True)

credit_card    0.739224
boleto         0.190440
voucher        0.055590
debit_card     0.014718
not_defined    0.000029
Name: payment_type, dtype: float64

A quantidade total de compras (99.440) é menor que a quantidade de registros na base de cálculo (103.886), o que demonstra que uma compra pode ter vários pagamentos, conforme mencionamos acima.

In [35]:
order_payments['order_id'].unique().size

99440

In [26]:
order_payments['order_id'].value_counts()

fa65dad1b0e818e3ccc5cb0e39231352    29
ccf804e764ed5650cd8759557269dc13    26
285c2e15bebd4ac83635ccc563dc71f4    22
895ab968e7bb0d5659d16cd74cd1650c    21
fedcd9f7ccdc8cba3a18defedd1a5547    19
                                    ..
6d2a30c9b7dcee3ed507dc9a601f99e7     1
a7737f6d9208dd56ea498a322ed3c37f     1
646e62df54f3e236eb6d5ff3b31429b8     1
e115da7a49ec2acf622e1f31da65cfb9     1
28bbae6599b09d39ca406b747b6632b1     1
Name: order_id, Length: 99440, dtype: int64

Por exemplo, a compra com 26 pagamentos, identificada pelo id ccf804e764ed5650cd8759557269dc13, teve 1 pagamento com cartão de crédito e os demais com voucher.

In [57]:
order_payments[order_payments['order_id'] == 'ccf804e764ed5650cd8759557269dc13']

,order_id,payment_sequential,payment_type,payment_installments,payment_value
4346,ccf804e764ed5650cd8759557269dc13,19,voucher,1,1.68
14362,ccf804e764ed5650cd8759557269dc13,1,credit_card,1,2.20
16279,ccf804e764ed5650cd8759557269dc13,14,voucher,1,0.97
18876,ccf804e764ed5650cd8759557269dc13,15,voucher,1,1.11
21447,ccf804e764ed5650cd8759557269dc13,6,voucher,1,2.26
32393,ccf804e764ed5650cd8759557269dc13,26,voucher,1,23.10
38001,ccf804e764ed5650cd8759557269dc13,2,voucher,1,1.45
39132,ccf804e764ed5650cd8759557269dc13,25,voucher,1,1.53
40369,ccf804e764ed5650cd8759557269dc13,5,voucher,1,2.69
40387,ccf804e764ed5650cd8759557269dc13,3,voucher,1,1.15
41414,ccf804e764ed5650cd8759557269dc13,7,voucher,1,1.60
45857,ccf804e764ed5650cd8759557269dc13,11,voucher,1,2.97
49137,ccf804e764ed5650cd8759557269dc13,13,voucher,1,1.04
51816,ccf804e764ed5650cd8759557269dc13,24,voucher,1,2.79
53622,ccf804e764ed5650cd8759557269dc13,22,voucher,1,1.06
60241,ccf804e764ed5650cd8759557269dc13,23,voucher,1,1.03
71309,ccf804e764ed5650cd8759557269dc13,10,voucher,1,1.20
76655,ccf804e764ed5650cd8759557269dc13,20,voucher,1,0.99
79324,ccf804e764ed5650cd8759557269dc13,8,voucher,1,2.42
87981,ccf804e764ed5650cd8759557269dc13,9,voucher,1,0.97
88364,ccf804e764ed5650cd8759557269dc13,18,voucher,1,1.40
91510,ccf804e764ed5650cd8759557269dc13,12,voucher,1,2.45
93531,ccf804e764ed5650cd8759557269dc13,21,voucher,1,1.45
94873,ccf804e764ed5650cd8759557269dc13,16,voucher,1,1.07
95153,ccf804e764ed5650cd8759557269dc13,4,voucher,1,0.99
96566,ccf804e764ed5650cd8759557269dc13,17,voucher,1,1.11

O parcelamento só é possível com cartão de crédito. Os demais tipos de pagamento têm somente 1 parcela.

In [40]:
order_payments[order_payments['payment_type'] != 'credit_card'].value_counts([order_payments['payment_type'], order_payments['payment_installments']])

payment_type  payment_installments
boleto        1                       19784
voucher       1                        5775
debit_card    1                        1529
not_defined   1                           3
dtype: int64

Nas compras com cartão de crédito, as compras à vista representam 33% do total, seguidas pelas compras parceladas em 2 vezes, correspondentes a 16%.

In [61]:
order_payments[order_payments['payment_type'] == 'credit_card'].value_counts(order_payments['payment_installments'], True)

payment_installments
1     0.331467
2     0.161638
3     0.136220
4     0.092428
10    0.069380
5     0.068221
8     0.055577
6     0.051045
7     0.021173
9     0.008386
12    0.001732
15    0.000964
18    0.000352
11    0.000299
24    0.000234
20    0.000221
13    0.000208
14    0.000195
17    0.000104
16    0.000065
21    0.000039
0     0.000026
22    0.000013
23    0.000013
dtype: float64

Quanto aos valores dos pagamentos, consolidamos o total por compra (order_id) e verificamos as principais medidas estatísticas.

In [71]:
order_total_value = order_payments[['order_id', 'payment_value']].groupby(['order_id']).sum()
order_total_value.describe()

       payment_value
count   99440.000000
mean      160.990267
std       221.951257
min         0.000000
25%        62.010000
50%       105.290000
75%       176.970000
max     13664.080000